.idea
*.class
**/*.iml
**/target/**
**~
deptree.txt
log
*.log
temp/**
src/test/shell/cookies.txt
dependency-reduced-pom.xml
package/resources/*
node/src/test/shell/cookies.txt
mci.txt
.DS_Store
iiot_mmap*
